@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/_all.sass";
@import "../bulma/sass/form/_all.sass";

pre {
  background: none;
  color: unset;
}

pre code {
  color: unset;
}

.code {
  display: flex;
  flex-direction: column;
  .control {
    display: flex;
    flex-direction: column;
    flex: 1;
    textarea#code {
      flex: 1;
    }
  }
}

.container {
  margin-top: 3em;
  display: grid;
  grid-template-areas: 
    "header header header header"
    "code code code  options"
    "results results output styles";
  grid-template-columns: repeat(4, minmax(0,1fr));
  grid-gap: 1em 1em;
  gap: 1em 1em;

  .top {
    grid-area: header;
  }

  .code {
    grid-area: code;
  }

  .options {
    grid-area: options;
  }

  .results {
    grid-area: results;
  }

  .output {
    grid-area: output;
  }

  .styles {
    grid-area: styles;
  }
}

